<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PruebasSelenium_Suite">

    <test name="PruebasSelenium_Tests">
      
	 <parameter name="driverProvider" value="PhantomJSDriver" />     
    <!--    <parameter name="driverProvider" value="MicrosoftEdgeDriver" />    -->
	<!--  <parameter name="driverProvider" value="MozillaFirefoxDriver" />   -->
    <!-- <parameter name="driverProvider" value="GoogleChromeDriver" />    -->
		<parameter name="execution" value="local" /> 
		<parameter name="host" value="192.168.1.1" /> 
	
		
        <classes>     
        	<class name="unir.net.tfgii.selenium.tests.Login" /> 
 	   	 	<class name="unir.net.tfgii.selenium.tests.Registro" />
 	 	</classes>  
    </test>
</suite>